@using MyWedding.Models.Enums

@model Guest

<div class="ui text centered container">
    <form class="ui form" asp-action="Edit">
        <input type="hidden" name="id" value="@Model.Id">
        <div class="field">
            <label>Name</label>
            <input class="ui input" name="name" type="text" value="@Model.Name" />
        </div>
        <div class="field">
            <label>Welcome code</label>
            <input class="ui input" name="code" type="text" value="@Model.Code" />
        </div>
        <div class="field">
            <label>Will you be attending?</label>
            <select name="isAttending" class="ui dropdown">
                @if (Model.HasResponded)
                {
                    @if (Model.IsAttending)
                    {
                        <option value=true selected>Yes</option>
                        <option value=false>No</option>
                    }
                    else
                    {
                        <option value=true>Yes</option>
                        <option value=false selected>No</option>
                    }
                }
                else
                {
                    <option value="null">Unknown</option>
                    <option value=true>Yes</option>
                    <option value=false>No</option>
                }

            </select>
        </div>

        <div class="grouped fields">
            <label>Meal preference</label>
            <select name="mealType" class="ui dropdown">
                @if (Model.MealType == EMealType.Meat)
                {
                    <option value=0 selected>Meat</option>
                }
                else
                {
                    <option value=0>Meat</option>
                }

                @if (Model.MealType == EMealType.Fish)
                {
                    <option value=1 selected>Fish</option>
                }
                else
                {
                    <option value=1>Fish</option>
                }

                @if (Model.MealType == EMealType.Vegetarian)
                {
                    <option value=2 selected>Vegetarian</option>
                }
                else
                {
                    <option value=2>Vegetarian</option>
                }

            </select>

        </div>
        <div class="field">
            <label>Comments (food allergies, special arrangements, etc)</label>
            <textarea name="comments" rows="3">@Model.Comments</textarea>
        </div>
        <button class="ui primary button" type="submit">Save</button>
    </form>


</div>